[submodule "gopl.io"]
	path = gopl.io
	url = git@github.com:adonovan/gopl.io.git
[submodule "go_learning"]
	path = go_learning
	url = git@github.com:superman-geek-time/go_learning
[submodule "gobyexample"]
	path = gobyexample
	url = git@github.com:mmcgrana/gobyexample.git
[submodule "Golang_Puzzlers"]
	path = Golang_Puzzlers
	url = git@github.com:hyper0x/Golang_Puzzlers.git
